.contenedor-listas {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.contenedor-lista {
    height: 700px;
    width: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tarea {
    row-gap: 30px;
}

.halloween {
    background-color: orange;
}

.navidad {
    background-color: rgb(253, 136, 136);
}

.normal {
    background-color: aquamarine;
    box-shadow: 0 0 20px aqua;
}

.eliminar {
    font-size: 10px;
    align-self: self-end;
}

.halloween-eliminar {
    font-size: 10px;
    align-self: self-end;
    background-color: rgb(65, 21, 21);
    color: white
}

.navidad-eliminar {
    font-size: 10px;
    align-self: self-end;
    background-color: darkgreen;
    color: gold;
}

.normal-eliminar {
    font-size: 10px;
    align-self: self-end;
    background-color: red;
}

.mensaje-error {
    color: red;
    size: small;
}

.contenedor-campo {
    display: flex;
    flex-direction: column;
}

.derecha {
    text-align: right;
}

.contenedor-a単adir {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.a単adir {
    background-color: aliceblue;
    border: black 2px solid;
    border-radius: 15px;
    width: 1150px;
    height: 25px;
}

.a単adir-halloween {
    background-color: rgb(65, 21, 21);
    color: white;
    border: black 2px solid;
    border-radius: 15px;
    width: 1150px;
    height: 25px;
}

.a単adir-navidad {
    background-color: rgb(253, 136, 136);
    color: gold;
    border: black 2px solid;
    border-radius: 15px;
    width: 1150px;
    height: 25px;
}

.contenedor-eliminar {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.gap {
    height: 30px;
}

.titulo-lista {
    width: 100%;
    text-align: center;
}

.contenedor-formulario {
    width: 200px;
    height: 135px;
    gap: 15px;
    background-color: aliceblue;
    border: 3px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.enviar {
    font-size: 10px;
    align-self: center;
}