.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    width: 100%;
    height: 80%;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.example-spacer {
  flex: 1 1 auto;
}
.opcion{
    cursor: pointer;
}
.opcion:hover{
        font-weight: 700;
}

.contenedor-root{
    width: 100%;
    height: 93%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: black 2px solid;
}
.halloween{
    background-color: blueviolet;
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: orange 2px solid;
}
.navidad{
    background-color: lightgreen;
    width: 100%;
    height: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: yellow 2px solid;
}