.example-spacer {
  flex: 1 1 auto;
}
.opcion{
    cursor: pointer;
}
.opcion:hover{
        font-weight: 700;
}
.halloween {
  background-color: purple;
  color: white;
}
.navidad{
  background-color: red;
  color: green;
}
.normal{
  background-color: lightblue;
  color: black;

}
