<mat-toolbar color="primary" [ngClass]="{ 'halloween': eventos.halloween, 'navidad': eventos.navidad, 'normal': eventos.normal }">
  <span class="example-spacer"></span>
<span class="opcion opcion1" matButton [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></span>
    <mat-menu class #menu="matMenu">
      <button mat-menu-item routerLink="/contador">Contador</button>
      <button mat-menu-item routerLink="/matatopos">Matatopos</button>
      <button mat-menu-item routerLink="/carrera">Carrera</button>
      <button mat-menu-item routerLink="/lista">ListaPersonajes</button>
      <button mat-menu-item routerLink="/formulario-registro">Formulario</button>
      <button mat-menu-item routerLink="/halloween">formularioHalloween</button>
      <button mat-menu-item routerLink="/kanban">kanban</button>
    </mat-menu>
  <span class="example-spacer"></span>
  <span class="opcion" routerLink="/contador">Contador</span>
  <span class="example-spacer"></span>
  <span class="opcion" routerLink="/matatopos">Matatopos</span>
  <span class="example-spacer"></span>
  <span class="opcion" routerLink="/lista">{{nombre}}</span>
  <span class="example-spacer"></span>
  <span class="opcion" routerLink="/formulario-registro">Formulario</span>
  <span class="example-spacer"></span>
  <span class="opcion" routerLink="/halloween">formularioHalloween</span>
  <span class="example-spacer"></span>
  
<span class="opcion opcion1" matButton [matMenuTriggerFor]="menu2"><mat-icon>more_vert</mat-icon></span>
  <span class="opcion"> <mat-menu class #menu2="matMenu">
    <div>
    <span class="opcion"> <mat-icon>bolt</mat-icon></span>
    <mat-slide-toggle (click)="eventos.esHalloween()" [checked]="eventos.halloween" [disabled]="eventos.halloween"></mat-slide-toggle>
    </div>
    <div>
    <span class="opcion"> <mat-icon>bolt</mat-icon></span>
    <mat-slide-toggle (click)="eventos.esNavidad()" [checked]="eventos.navidad" [disabled]="eventos.navidad"></mat-slide-toggle>
    </div>
    <div>
    <span class="opcion"> <mat-icon>bolt</mat-icon></span>
    <mat-slide-toggle (click)="eventos.esNada()" [checked]="eventos.normal" [disabled]="eventos.normal"></mat-slide-toggle>
    </div>
  </mat-menu>
  </span>
</mat-toolbar>